<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- head>
	<meta charset="utf-8"/>
	<title>Virtual Store</title>

	<link rel="stylesheet" type="text/css" href="css/main.css"/>
</head-->

<iframe src="header.html"></iframe>

 
<!-- script>
	function fnConsomeWs() {
    $.ajax({
        type: "POST",
        url: "paginaWeb.aspx/WebMethodTeste",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        async: true,
        data: '{parametro1:"' + document.getElementById("sNome").value + '",parametro2:"' + document.getElementById("sLogin").value + '"}',
        success: function (data) {
            alert(data.d);
        }
    });
}
</script-->


<body>
    
	<!-- header>Virtual Store</header>
	
	<nav >
	  <ul class="menu">
			<li><a href="new2">Home-</a></li>
			<li><a href="#">Sobre</a></li>
		  		<li><a href="#">O que fazemos?</a>
		         	<ul>
		                  <li><a href="#">Web Design</a></li>
		                  <li><a href="#">SEO</a></li>
		                  <li><a href="#">Design</a></li>                    
		       		</ul>
				</li>
			<li><a href="#">Fotos</a></li>
			<li><a href="#">Contato</a></li>                
		</ul>
	</nav-->
	
	
			<!-- nav class="menu grupo" role="navigation">
					<span class="menu__trigger">
						<i class="fa fa-bars" aria-hidden="true"></i>
						<span class="menu__trigger-label">Menu</span>
					</span>
										<ul class="menu__ul">
												<li class="menu__item">
							<a class="menu__link "  href="https://guilhermemuller.com.br/pt/home">
								Home							</a>
						</li>
												<li class="menu__item">
							<a class="menu__link "  href="https://guilhermemuller.com.br/pt/videos">
								Vídeos							</a>
						</li>
												<li class="menu__item">
							<a class="menu__link "  href="https://guilhermemuller.com.br/pt/cursos">
								Cursos							</a>
						</li>
												<li class="menu__item">
							<a class="menu__link "  href="https://guilhermemuller.com.br/pt/blog">
								Blog							</a>
						</li>
												<li class="menu__item">
							<a class="menu__link "  href="https://guilhermemuller.com.br/pt/portfolio">
								Portfolio							</a>
						</li>
												<li class="menu__item">
							<a class="menu__link "  href="https://guilhermemuller.com.br/pt/perfil">
								Perfil							</a>
						</li>
												<li class="menu__item">
							<a class="menu__link "  href="https://guilhermemuller.com.br/pt/contato">
								Contato							</a>
						</li>
											</ul>
									</nav-->

	
	
	
	

</body>
</html>